# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAIczJnBEQLhkWevg2m6U5-6gDaDs7cmfI
VITE_FIREBASE_AUTH_DOMAIN=ai-portfolieo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-portfolieo
VITE_FIREBASE_STORAGE_BUCKET=ai-portfolieo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=275064492509
VITE_FIREBASE_APP_ID=1:275064492509:web:b2344c86eca4de52fd6634
